*{
  margin: 0 auto;
  padding: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

main{
  background-color: grey;
}

header>p, header>img{
  vertical-align: middle;
}

#logoname{
  font-size: 40px;
  font-weight: 700;
  color: black;
}

main{
  background-color: #F6F8F9;
  padding: 30px;
}

#boxed, nav{
  padding: 50px;
  background-color: white;
  width: 80%; 
  max-width: 1100px;
  min-width: 600px;
  margin 0 auto;
  border-radius: 15px 0px 15px 0px ;
  border: 2px solid #F6F8F9;
  
}

.riga{
  padding-top: 20px;
  padding-bottom: 30px;
}

.bottone{
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.sinistra{
  background-color: #47ADF1;
  border-color: #47ADF1;
  color: white;
}

.destra{
background-color: white;
border-color: grey;
color: grey;
opacity: 0.5;
}

hr{
  position: relative;
  left: -50px;
  right: 0px;
  width: calc(100% + 100px);
  height: 5px;
  background-color: #F6F8F9;
  border: none;
}

.down{
  font-size: 20px;
  padding-bottom: 40px;
}

.task, .down, #logoname{
  display: inline-block;
  font-weight: 600;
}

.fatto{
  color: green;
  border: 2px solid green;
}

.nope{
  color: red;
  border: 2px solid red;
}

.icon{
  width: 70px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
}

.categoria {
  padding: 8px 15px 8px 15px;
  border-radius: 20px;
  font-size: 15px;
  border: none;
  color: white;
}

.blu{
  background-color: #47ADF1;
}

.viola{
  background-color: #9C72E4;
}

.verde{
  background-color: #64C0A9;
}

.arancio{
  background-color: #F29E33;
}

.rosa{
  background-color: #D863A1;
}

li{
  list-style: none;
  padding-bottom: 20px;
}
ul {
  list-style-type:none;
  padding-left: 0;
}